<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="BPEL_TestProject_Anon">
        <wb-resource deploy-path="/" source-path="/bpelContent"/>
    </wb-module>
</project-modules>
